@model IEnumerable<Fixer.Models.ServiceCategory>

@{
    ViewData["Title"] = "ShowAll";
    Layout = "~/Views/Shared/_Layout_HeaderFooter.cshtml";
}

<!-- product section -->
<div class="product-section mt-80 mb-80">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center">
                <div class="section-title">
                    <h3>Services</h3>
                    <p>Choose from our wide range of services</p>
                </div>
            </div>
        </div>
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-lg-4 col-md-6 text-center">
                    <a asp-controller="Service" asp-action="ShowAll" asp-route-servCatID="@item.ServiceCategoryID">
                        <div class="single-product-item">
                            <div class="product-image">
                                    <img height="50" width="50" src="data:image/svg+xml;base64,@Convert.ToBase64String(item.ServiceCategoryByteImage)" />
                            </div>
                            <h3>@item.ServiceCategoryName</h3>
                            <p class="product-price"><span>@item.ServiceCategoryDescription</span></p>
                        </div>
                    </a>
                </div>
            }
        </div>
    </div>
</div>
<!-- end product section -->

@*<h1>ShowAll</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ServiceCategoryByteImage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ServiceCategoryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ServiceCategoryDescription)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <a asp-controller="Service" asp-action="ShowAll" asp-route-servCatID="@item.ServiceCategoryID">
                    <img height="50" width="50" src="data:image/svg+xml;base64,@Convert.ToBase64String(item.ServiceCategoryByteImage)" />
                </a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ServiceCategoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ServiceCategoryDescription)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ServiceCategoryID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ServiceCategoryID">Details</a> |
                <a asp-action="Remove" asp-route-id="@item.ServiceCategoryID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>*@
